*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  width: 100%;
  background-color: #222f3f;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
a:hover {
    color: #f56600;

}
a:focus {
    outline: 2px solid #f56600;
    outline-offset: 2px;
}

header .logocontainer {
  height: 3.5rem;
  background-color: #222f3f;

}
header img {
    height: 100%;
    padding: 0.6rem 1.75rem;
  }
  
header .navbar {
    padding: 0 1.75rem;
    background-color: #364759;
    color: #eee;
  }
  
header ul li {
    display: inline-block;
    margin: 0 1rem 0 0;
    padding: 0.4rem 0;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
header ul li:hover {
    transform: scale(1.1);
    background-color: #165d14;
    border-radius: 8px;
    padding: 2px;
    transition: background-color 0.3s ease;  
}

header a {
    color: #eee;
    text-decoration: none;
  }
  
main {
    padding: 1.75rem;
  }
  
main a:hover {
    background-color: f56600;
    color: #fff;
}    


main section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.holiday-gift-cards-section {
    width: 100%;
    background-color: #f56600;
    text-align: center;
    margin-bottom: 1.75rem;
  }
  
.holiday-gift-cards-section p {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 12px;
  }

.holiday-gift-cards-section a{
    color: #FFE3B8;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.holiday-gift-cards-section a:hover {
    transform: scale(1.1);
    color: #fff;
}
  
.gift-guides-section {
    width: 100%;
    background-image: url(../images/bg-image.png);
    background-size: 1200px;
    color: #E4E9EC;
    text-align: center;
    padding: 4rem 0;
    margin-bottom: 1.75rem;
  }
  
.gift-guides-heading {
    font-weight: bold;
    font-size: 26px; 
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .gift-guides-heading:hover {
    animation: fireworks 0.5s forwards;
  }
    
.gift-guides-description {
    font-weight: bold;
    font-size: small;
  }
  
.product-section {
    width: 100%;
    background-color: #ffffff;
    padding: 1% 0;
    margin-bottom: 1.75rem;
  }

.section-header a:hover {
    color: #fff;
    background-color: #04531a;
    border-radius: 8px;
    padding: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.section-header:nth-child(1) {
    width: 100%;
    margin-bottom: 1%;
  }
  
.section-header h3 {
    display: inline;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    margin: 0 1% 0 1.1rem;
  }
  
.section-header p {
    display: inline;
    width: fit-content;
    color: #3390a8;
    font-size: 12px;
    font-weight: 800;
}
  
.imgboxes img:hover {
    transform: scale(1.05);
    box-shadow: 8px 12px 20px 3px rgba(0, 0, 0, 0.3);
}

.imgboxes {
    width: 100%;
    text-align: center;
}
  
.imgboxes img {
    width: 22.5%;
    height: 22rem;
    object-fit: cover;
    margin: 0 1%;
    border-radius: 1rem;
    box-shadow: 5px 8px 15px 2px rgba(0, 0, 0, 0.15) ;
}
.imgboxes:hover,
.imgboxes img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 8px 12px 20px 3px rgba(0, 0, 0, 0.3);
}

.product-section1 .imgbox{
  background-size: cover;
  height: 24rem;
  transition: transform 0.3s ease;
}

main section:nth-child(4) .imgbox {
    background-image: url(../images/img_9.png);
}
  
main section:nth-child(4) .section-header, main section:nth-child(5) .section-header  {
    text-align: center;
    margin: 0.25rem 0 1.75rem 0;
}
  
main section:nth-child(5) .imgbox {
    background-image: url(../images/img_10.png);
}
  
footer {
    background-color: #222f3f;
    text-align: center;
}
  
footer .footernav .space {
    height: 30%;
}
  
footer .footernav a {
    height: 40%;
    font-size: 14px;
    font-weight: 700;
    color: #eee;
    transition: all 0.3s ease;
}
footer .footernav a:hover {
    color: #f56600;
    transition: color 0.3s ease; 
}
  
footer .logocontainer {
    height: 10rem;
    background-color: #222f3f;
}
.footer .logocontainer a:hover img {
    transform : scale(1.1);
    transition: transform 0.3s ease;
}
  
footer .footernav {
    height: 3rem;
    background-color: #364759;
}
  
footer .logocontainer .space {
    height: 30%;
}
  
footer .logocontainer img {
    height: 40%;
    padding: 0.4rem 1.75rem;
}

@keyframes fireworks {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }   
